
#tokenMenu {
    position: absolute;
    background: #25476a;
    color: #fff;
    display: inline-block;
    z-index: 1000;
    height: 29px;
    pointer-events: all;
    white-space: nowrap;
}

#tokenMenu label{
    font-size: .8rem;
    font-family: "Open Sans";
    padding: 0 .5rem;
    margin: 0;
}

#tokenMenu button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: .8rem;
    padding: .35rem;
    margin: 0;
}

    #tokenMenu button:hover {
        background-color: #fff;
        color: #25476a;
    }

#tokenMenu button:focus{
    box-shadow: none;
}

#tokenMenu .btn-group>.btn-group:not(:last-child)>.btn, #tokenMenu .btn-group>.btn:not(:last-child):not(.dropdown-toggle){
  border-bottom-left-radius: 0;
}

#tokenMenu .btn-group>.btn-group:not(:first-child)>.btn, #tokenMenu .btn-group>.btn:not(:first-child)
{
  border-bottom-right-radius: 0;
}


[data-dragcontext-marker],[data-sh-parent-marker]{outline:#25476a solid 2px;font-size: .8rem;position:absolute;z-index:123456781;pointer-events:none;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; z-index: 1000;}
[data-dragcontext-marker] [data-dragcontext-marker-text],[data-sh-parent-marker] [data-sh-parent-marker-text]{background:#25476a;color:#fff;padding:0px 10px;display:inline-block;font-size:14px;position:relative;top:-24px;font-weight:700;pointer-events:none;z-index:123456782;height: 22px;}
[data-dragcontext-marker].invalid{outline:#dc044f solid 2px}
[data-dragcontext-marker].invalid [data-dragcontext-marker-text]{background:#dc044f}
[data-dragcontext-marker=body]{outline-offset:-2px}
[data-dragcontext-marker=body] [data-dragcontext-marker-text]{top:0;position:fixed}

.drop-marker{pointer-events:none;}
.drop-marker.horizontal{background:#1acd9d;/*position:absolute;*/height:2px;list-style:none;visibility:visible!important;box-shadow:0 1px 2px rgba(255,255,255,.4),0 -1px 2px rgba(255,255,255,.4);z-index:123456789;text-align:center; /*margin: 10px;*/}
.drop-marker.horizontal.topside{margin-top:0}
.drop-marker.horizontal.bottomside{margin-top:2px}
.drop-marker.horizontal:before{content:"";width:8px;height:8px;background:#1acd9d;border-radius:8px;margin-top:-3px;float:left;box-shadow:0 1px 2px rgba(255,255,255,.4),0 -1px 2px rgba(255,255,255,.4)}
.drop-marker.horizontal:after{content:"";width:8px;height:8px;background:#1acd9d;border-radius:8px;margin-top:-3px;float:right;box-shadow:0 1px 2px rgba(255,255,255,.4),0 -1px 2px rgba(255,255,255,.4)}
.drop-marker.vertical{height:50px;list-style:none;border:1px solid #1acd9d;box-shadow:1px 0 2px rgba(255,255,255,.4),-1px 0 2px rgba(255,255,255,.4)}
.drop-marker.vertical.leftside{margin-left:0}
.drop-marker.vertical.rightside{margin-left:3px}
.drop-marker.vertical:before{content:"";width:8px;height:8px;background:#1acd9d;border-radius:8px;margin-top:-4px;top:0;position:absolute;margin-left:-4px;box-shadow:1px 0 2px rgba(255,255,255,.4),-1px 0 2px rgba(255,255,255,.4)}
.drop-marker.vertical:after{content:"";width:8px;height:8px;background:#1acd9d;border-radius:8px;margin-left:-4px;bottom:-4px;position:absolute;box-shadow:1px 0 2px rgba(255,255,255,.4),-1px 0 2px rgba(255,255,255,.4)}
    